// Section about
section#about.about-us
	.container
		.row
			.col-md-8.col-md-push-2
				.heading-title.center
					h2| About 
						span| us
					.small-desd
						| We create 
						span| awesome stuff
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
		.row
			.col-md-4
				.item-about
					.icon
						i.pe-7s-target
						.bg-icon
							i.pe-7s-target
					.content
						h3|Web 
							span
								| development
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel
			.col-md-4
				.item-about
					.icon
						i.pe-7s-help2
						.bg-icon
							i.pe-7s-help2
					.content
						h3|context 
							span
								| advertising
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel
			.col-md-4
				.item-about
					.icon
						i.pe-7s-light
						.bg-icon
							i.pe-7s-light
					.content
						h3|Internet 
							span
								| marketing
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel drerit elit sed, condimentum magna. Suspendisse imperdiet purus vel

//Section services
section#services.services-section.background-image.bg-dark-section(data-image='img/bg2.jpg')
	.container
		.row
			.col-md-8.col-md-push-2
				.heading-title.small-heading.center
					h2| Our 
						span| services
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
		.row
			.tabs.services-tabs
				ul.services-carousel
					li.animated-service.anim-shadow
						a(href='#tabs-1')
							i.pe-7s-graph
							h4| Branding
							p| Claritas est etiam processus dynamicus, qui sequitur.
					li.animated-service.anim-shadow
						a(href='#tabs-2')
							i.pe-7s-drop
							h4| Web design
							p| Claritas est etiam processus dynamicus, qui sequitur.
					li.animated-service.anim-shadow
						a(href='#tabs-3')
							i.pe-7s-timer
							h4| Graphig design
							p| Claritas est etiam processus dynamicus, qui sequitur.
					li.animated-service.anim-shadow
						a(href='#tabs-4')
							i.pe-7s-map
							h4| Development
							p| Claritas est etiam processus dynamicus, qui sequitur.
				.dots-control-carousel#dots-control-tabs
				//Start tabs
				#tabs-1
					.col-md-6
						.head-service.small-head.text-left
							h2| Never fall in love with an idea. They’re whores. If the the 
								span| job, there’s always another.
							p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
						p
							| Tab 1 Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris 
					.col-md-5.col-md-push-1
						ul.list
							li| Rich media banners
							li| Audio production
							li| Photography
							li| Design
							li| Content creation
							li| Content audit
							li| Project management
							li| Technical requirements
							li| Testing
							li| and more...
							
				#tabs-2
					.col-md-6
						.head-service.small-head.text-left
							h2| They’re whores. If the the 
								span| job, there’s always another.
							p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
						p
							| Tab 1 Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et . Mauris 
					.col-md-5.col-md-push-1
						ul.list
							li| Project management
							li| Technical requirements
							li| Testing
							li| Rich media banners
							li| Audio production
							li| Photography
							li| Design
							li| Content creation
							li| Content audit
							li| and more...							
				#tabs-3
					.col-md-6
						.head-service.small-head.text-left
							h2| Never fall in love with an idea. They’re whores. If the the 
								span| job, there’s always another.
							p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
						p
							| Tab 1 Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et . Mauris 
					.col-md-5.col-md-push-1
						ul.list
							li| Rich media banners
							li| Audio production
							li| Photography
							li| Design
							li| Content creation
							li| Content audit
							li| Project management
							li| Technical requirements
							li| Testing
							li| and more...							
				#tabs-4
					.col-md-6
						.head-service.small-head.text-left
							h2| Never fall in love with an idea. If the the 
								span| job, there’s always another.
						p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
						p Tab 1 Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et . Mauris 
					.col-md-5.col-md-push-1
						ul.list
							li| Design
							li| Content creation
							li| Content audit
							li| Project management
							li| Technical requirements
							li| Rich media banners
							li| Audio production
							li| Photography
							li| Testing
							li| and more...
			.col-md-12
				.link-full
					a(href="services.html") View all services
						i(class="fa fa-angle-right",aria-hidden="true")

//Section how we work
section.section-how-we-work.bg-white-section.background-image(data-image='img/bg2.jpg')
	.container
		.row
			.col-md-8.col-md-push-2
				.heading-title.center
					h2| How we work
					.small-desd
						| We create 
						span| awesome stuff
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
		.row
			// Item
			.col-md-3.col-sm-6.col-xs-12.item-icon
				.icon-container
					.icon.icon-circle
						i.pe-7s-look
				h3 Awesome
				p
					| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			// Item
			.col-md-3.col-sm-6.col-xs-12.item-icon
				.icon-container
					.icon.icon-circle
						i.pe-7s-light
				h3 Innovative
				p
					| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			// Item
			.col-md-3.col-sm-6.col-xs-12.item-icon
				.icon-container
					.icon.icon-circle
						i.pe-7s-like2
				h3 Creative
				p
					| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			// Item
			.col-md-3.col-sm-6.col-xs-12.item-icon
				.icon-container
					.icon.icon-circle
						i.pe-7s-graph1
				h3 EXPERIMENTAL
				p
					| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			// Edn items

//Section work progress
section.section-work-progress.background-image.bg-dark-section(data-image='img/bg1.jpg')
	.container
		.row
			.col-md-3
				.heading-title.small-heading.text-left
					h2| Work 
						span| progress
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.col-md-3.col-sm-4
				.icon-progress
					i.pe-7s-comment
					p| 1. Discuss
			.col-md-3.col-sm-4
				.icon-progress
					i.pe-7s-display2
					p| 2. Make
			.col-md-3.col-sm-4
				.icon-progress
					i.pe-7s-like
					p| 3. Product

//Section our some work
section#portfolio.section-portfolio.bg-white-section.background-image(data-image='img/bg1.jpg')
	.container
		.row
			.col-md-8.col-md-push-2
				.heading-title.center
					h2| Our some 
						span| work
					.small-desd
						| We create 
						span| awesome stuff
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
				.controls-portfolio.center
					ul#control-portfolio.text-center
						li#liact.filter.select-cat(data-filter='*', class='active') All
						li.filter(data-filter='.category-2') Design
						li.filter(data-filter='.category-3') Mobile apps
						li.filter(data-filter='.category-4') Video
						li.filter(data-filter='.category-5') Photography
	.container-fluid
		.row
			//Portfolio
			include ../components/_portfolio.pug
			//Content portfolio
			include ../components/_portfolio-content.pug

//Section trigger
section.section-trigger.bg-white-section.white-70.background-image(data-image='img/bg3.jpg')
	.container
		.row
			.col-md-12
				.heading-title.small-heading.center
					h2| Like our creative 
						span| works ?
				.buttons-section.center
					a(href="#",class='btn accent-btn large-btn') Start project

//Section we are in numbers
section.section-we-are-numbers.bg-dark-section.background-image(data-image='img/bg3.jpg')
	.container
		.row
			.col-md-8.col-md-push-2
				.heading-title.small-heading.center
					h2| We are in 
						span| numbers
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
	.container-fluid
		.row
			.items-nopadding
				.col-md-3
					.item-number
						.num
							h2
								span(data-min="0" data-max="235" data-delay="5" data-increment="3" class="numscroller") 0
						.name
							p Completed projects
				.col-md-3
					.item-number
						.num
							h2
								span(data-min="0" data-max="1409" data-delay="5" data-increment="3" class="numscroller") 0
						.name
							p Happy clients
				.col-md-3
					.item-number
						.num
							h2
								span(data-min="0" data-max="75" data-delay="5" data-increment="3" class="numscroller") 0
						.name
							p Winning awards
				.col-md-3
					.item-number
						.num
							h2
								span(data-min="0" data-max="8" data-delay="5" data-increment="3" class="numscroller") 0
						.name
							p Years

//Section our skills
section#skills.section-our-skills.bg-white-section.background-image(data-image='img/bg3.jpg')
	.container
		.row
			.col-md-6
				.heading-title.small-heading.center.left-text
					h2| Our
						span|  skills
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
		.row
			.col-md-7
				.tabs.tabs-default
					ul
						li
							a(href='#tabs-d1') CSS&HTML
								
						li
							a(href='#tabs-d2') JavaScript
	
						li
							a(href='#tabs-d3') Wordpress

						li
							a(href='#tabs-d4') eCommerce
						li
							a(href='#tabs-d5') Opencart

					#tabs-d1
						p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
						p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
					#tabs-d2
						p There are many variations of passages m um ilable, but the majority have suffered alteration in some form, amr sonr bangla variations of passages oorpsum available, but the majority.
						p There are many variations of passages m um ilable, but the majority have suffered alteration in some form, amr sonr bangla variations of passages oorpsum available, but the majority.
					#tabs-d3
						p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
						p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
					#tabs-d4
						p There are many variations of passages m um ilable, but the majority have suffered alteration in some form, amr sonr bangla variations of passages oorpsum available, but the majority.
						p There are many variations of passages m um ilable, but the majority have suffered alteration in some form, amr sonr bangla variations of passages oorpsum available, but the majority.
					#tabs-d5
						p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
						p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
			.col-md-5
				//Start skills wrap
				.skillbars
					.skillbar.clearfix(data-percent='40%')
						.skillbar-title
							span jQuery
						.skillbar-bar
						.skill-bar-percent 40%
					// End Skill Bar
					.skillbar.clearfix(data-percent='80%')
						.skillbar-title
							span HTML&CSS
						.skillbar-bar
						.skill-bar-percent 80%
					// End Skill Bar
					.skillbar.clearfix(data-percent='90%')
						.skillbar-title
							span WordPress
						.skillbar-bar
						.skill-bar-percent 90%
					// End Skill Bar
					.skillbar.clearfix(data-percent='60%')
						.skillbar-title
							span OpenCart
						.skillbar-bar
						.skill-bar-percent 60%
					// End Skill Bar
					.skillbar.clearfix(data-percent='97%')
						.skillbar-title
							span PHP
						.skillbar-bar
						.skill-bar-percent 97%
					// End Skill Bar
				//End skills wrap

//Section carousel trigger
section.section-carousel-trigger.bg-dark-section.background-image(data-image='img/bg3.jpg')
	.container
		.row
			#trigger-carousel
				//Start slide
				.col-md-4
					.item-triggel-carousel.center
						.icon
							i.pe-7s-config
						h2
							| We have magic
						p
							| We find the best ideas for you
				//Start slide
				.col-md-4
					.item-triggel-carousel.center
						.icon
							i.pe-7s-cup
						h2
							| We’re creative
						p
							| We find the best ideas for you
				//Start slide
				.col-md-4
					.item-triggel-carousel.center
						.icon
							i.pe-7s-check
						h2
							| We’re punctual
						p
							| We find the best ideas for you
				//Start slide
				.col-md-4
					.item-triggel-carousel.center
						.icon
							i.pe-7s-config
						h2
							| We have magic
						p
							| We find the best ideas for you
				//Start slide
				.col-md-4
					.item-triggel-carousel.center
						.icon
							i.pe-7s-cup
						h2
							| We’re creative
						p
							| We find the best ideas for you
				//Start slide
				.col-md-4
					.item-triggel-carousel.center
						.icon
							i.pe-7s-check
						h2
							| We’re punctual
						p
							| We find the best ideas for you
			.dots-control-carousel#dots-control-triggers

//Section our team
section.section-team.bg-white-section.background-image(data-image='img/bg1.jpg')
	.container
		.row
			.col-md-8.col-md-push-2
				.heading-title.center
					h2| Team
					.small-desd
						| Who
						span|  we are
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
		.row
			//Start item team
			.col-lg-3.col-md-3.col-sm-6.col-xs-6
				.item-team
					.img-wrap
						img(class="img-responsive",src="img/team1.jpg", alt="img")
						.mask-info
						//Start social links
						ul.social-links
							li
								a(href='#')
									i.fa.fa-facebook
							li
								a(href='#')
									i.fa.fa-twitter
							li
								a(href='#')
									i.fa.fa-skype
							li
								a(href='#')
									i.fa.fa-linkedin
						//End social links
					h2 David Vigo Michel
					span Founder & CEO
					p The MD of Statistic Consulting, he has been the captain of his team..
			//Start item team
			.col-lg-3.col-md-3.col-sm-6.col-xs-6
				.item-team
					.img-wrap
						img(class="img-responsive",src="img/team2.jpg", alt="img")
						.mask-info
						//Start social links
						ul.social-links
							li
								a(href='#')
									i.fa.fa-facebook
							li
								a(href='#')
									i.fa.fa-twitter
							li
								a(href='#')
									i.fa.fa-skype
							li
								a(href='#')
									i.fa.fa-linkedin
						//End social links
					h2 Rebecca Garza
					span Finance Officer
					p She managed to bring the company as well as Statistic Consulting
			//Start item team
			.col-lg-3.col-md-3.col-sm-6.col-xs-6
				.item-team
					.img-wrap
						img(class="img-responsive",src="img/team3.jpg", alt="img")
						.mask-info
						//Start social links
						ul.social-links
							li
								a(href='#')
									i.fa.fa-facebook
							li
								a(href='#')
									i.fa.fa-twitter
							li
								a(href='#')
									i.fa.fa-skype
							li
								a(href='#')
									i.fa.fa-linkedin
						//End social links
					h2 Stepthen Adams
					span Administrator
					p He is an Company technical adviser & business developer
			//Start item team
			.col-lg-3.col-md-3.col-sm-6.col-xs-6
				.item-team
					.img-wrap
						img(class="img-responsive",src="img/team4.jpg", alt="img")
						.mask-info
						//Start social links
						ul.social-links
							li
								a(href='#')
									i.fa.fa-facebook
							li
								a(href='#')
									i.fa.fa-twitter
							li
								a(href='#')
									i.fa.fa-skype
							li
								a(href='#')
									i.fa.fa-linkedin
						//End social links
					h2 Gina Fernando
					span Manager of Marketing
					p She is a marketing manager of our comapny, she bring to high..
			//End item team

//Section testimonials
section.section-testimonials.bg-dark-section.background-image(data-image='img/bg3.jpg')
	.container
		.row
			.col-md-8.col-md-push-2
				.heading-title.small-heading.center
					h2| Customers  
						span| love us
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
		.row
			.testimonials-items
				// Start Block item
				.col-md-4
					.item-testimonials
						img(src='img/ava.jpg', alt='photo')
						p
							| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
						span.name Alex Rezvova
						span.person Designer, Company name
				// Block item
				.col-md-4
					.item-testimonials
						img(src='img/ava2.jpg', alt='photo')
						p
							| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
						span.name Jacob Kai
						span.person Creative Director, Company name
				// Block item
				.col-md-4
					.item-testimonials
						img(src='img/ava3.jpg', alt='photo')
						p
							| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
						span.name Albin Erlend
						span.person Programer, Company name
				// Block item
				.col-md-4
					.item-testimonials
						img(src='img/ava3.jpg', alt='photo')
						p
							| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
						span.name Albin Erlend
						span.person Programer, Company name
	
				// End Block item
		
		// Dots control carousel
		.dots-control-carousel#dots-control-testimonials
	// Strat Control carousel
	#control-customers.prev-next-block-rotate
		.wrap-prev
			.prev
				i(class="fa fa-angle-left" aria-hidden="true")
		.wrap-next
			.next
				i(class="fa fa-angle-right" aria-hidden="true")

//Section why chose us
section.section-choose-us
	.container
		.row
			.col-md-8.col-md-push-2
				.heading-title.center
					h2| Why choose 
						span| us ?
					.small-desd
						| We create
						span|  awesome stuff
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
		.row
			//Start item
			.col-md-4
				.item-about.item-choose
					.content
						h3| lETS START 2K’TH JOURNEY WITH US
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.
			//Start item
			.col-md-4
				.item-about.item-choose
					.icon
						i.pe-7s-light
						.bg-icon
							i.pe-7s-light
					.content
						h3|We're 
							span
								| creative
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.		
			//Start item
			.col-md-4
				.item-about.item-choose
					.icon
						i.pe-7s-graph1
						.bg-icon
							i.pe-7s-graph1
					.content
						h3|We're 
							span
								| passionate
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.		
		.row
			//Start item
			.col-md-4
				.item-about.item-choose
					.icon
						i.pe-7s-like
						.bg-icon
							i.pe-7s-like
					.content
						h3|We love 
							span
								| people
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.		
			//Start item
			.col-md-4
				.item-about.item-choose
					.icon
						i.pe-7s-help2
						.bg-icon
							i.pe-7s-help2
					.content
						h3|Friendly 
							span
								| support
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.		
			//Start item
			.col-md-4
				.item-about.item-choose
					.icon
						i.pe-7s-phone
						.bg-icon
							i.pe-7s-phone
					.content
						h3|We're 
							span
								| pasponsive
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.		
		.row
			//Start item
			.col-md-4
				.item-about.item-choose
					.icon
						i.pe-7s-display1
						.bg-icon
							i.pe-7s-display1
					.content
						h3|Retina 
							span
								| ready
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.		
			//Start item
			.col-md-4
				.item-about.item-choose
					.icon
						i.pe-7s-link
						.bg-icon
							i.pe-7s-link
					.content
						h3|Seo 
							span
								| optimized
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.		
			//Start item
			.col-md-4
				.item-about.item-choose
					.icon
						i.pe-7s-paint
						.bg-icon
							i.pe-7s-paint
					.content
						h3|Easy 
							span
								| customized
						p| Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.

//Section our clients
.our-clients
	.container
		.row
			#clients-carousel.clients-carousel
				.col-md-2
					.item-carousel
						img(src="img/partners-1.png", alt="logo")
				.col-md-2
					.item-carousel
						img(src="img/partners-2.png", alt="logo")
				.col-md-2
					.item-carousel
						img(src="img/partners-3.png", alt="logo")
				.col-md-2
					.item-carousel
						img(src="img/partners-4.png", alt="logo")
				.col-md-2
					.item-carousel
						img(src="img/partners-1.png", alt="logo")
				.col-md-2
					.item-carousel
						img(src="img/partners-2.png", alt="logo")
				.col-md-2
					.item-carousel
						img(src="img/partners-3.png", alt="logo")
				.col-md-2
					.item-carousel
						img(src="img/partners-4.png", alt="logo")
	// Strat Control carousel
	#control-clients.prev-next-block-rotate
		.wrap-prev
			.prev
				i(class="fa fa-angle-left" aria-hidden="true")
		.wrap-next
			.next
				i(class="fa fa-angle-right" aria-hidden="true")

//Section contact with us
section#contact.section-contact-with-us.bg-dark-section.background-image(data-image='img/bg3.jpg')
	.container
		.row
			.col-md-8.col-md-push-2
				.heading-title.small-heading.center
					h2| Contact 
						span| with us
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
		.row
			.col-md-6
				.contact-wrap
					p.phone
						i(class="fa fa-phone" aria-hidden="true")
						| +58(667) 543 54 55
					p.street
						| 359 CENTRAL MIRA STREET
						br
						| VATUTINA 79 / 99 UKRAINE
					a(href="malito:" class="email")
						i(class="fa fa-envelope-o" aria-hidden="true")
						| Support@DOMIAN.COM
					a(href="malito:" class="email")
						i(class="fa fa-envelope-o" aria-hidden="true")
						| Support@DOMIAN.COM
					//Start social links
					ul.social-links
						li
							a(href='#')
								i.fa.fa-facebook
						li
							a(href='#')
								i.fa.fa-twitter
						li
							a(href='#')
								i.fa.fa-skype
					//End social links
			.col-md-6
				.contact-form
					form.contact-form-sub.contact-form-bg
						// Input name
						.col-md-6
							input.form-control(type='text', required='', name='Name', placeholder=' Your name')
						// Input email
						.col-md-6
							input.form-control(type='email', required='', name='Email', placeholder='Your email')
						// textarea
						.col-md-12
							textarea.form-control(rows='9', required='', name='Message', placeholder='Your message')
							p.success-msg.hidden.notify Your message has been send
							p.error-msg.hidden.notify Error sending message
							input.btn.btn-blue.btn-form(type='submit', value='Send')

//Section our location
.map-section
	#map.map-content(data-zoom="13" data-height="400" data-address="Konotop" data-address-details="Our location")


