header#top-nav.top-nav.page-header
	.container
		a(class='logo smooth-scroll', href='#')
			img(src='img/logo.png' alt='logo' class='logo-white')
			img(src='img/logodark.png' alt='logo' class='logo-dark')
		nav.top-menu
			ul.sf-menu

				//Menu default
				include _menu-default.pug

			// Start toggle menu
			a(href='#', class="toggle-mnu")
				span
			// Start toggle menu
			a(class='toggle-top', href='#')
				span
				span
				span
				span
				span
		// Start mobile menu
		
		include _mobile-nav.pug
		
		// End mobile menu

// Start full screen top nav

include _full-screen-nav.pug

// End full screen top nav