//Related projects
section.related-projects
	.container
		.row
			.col-md-6
				.heading-title.small-heading.center.left-text
					h2| Related 
						span|  projects
					p| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
		.row
			.col-md-3.col-sm-6.col-xs-6.item-portfolio
				a(href="project-single.html")
					.item-wrap.dh-container
						img(src='img/portfolio/1.jpg', alt='img09')
						.content.dh-overlay
							.tizer-circle
								i.fa.fa-picture-o 
							.content-wrap
								.content-va
									h2 Milness
									p Dufault project

			.col-md-3.col-sm-6.col-xs-6.item-portfolio
				a(href="project-single-gallery.html")
					.item-wrap.dh-container
						img(src='img/portfolio/2.jpg', alt='img09')
						.content.dh-overlay
							.tizer-circle
								i.fa.fa-indent
							.content-wrap
								.content-va
									h2 Space
									p Gallery project
			.col-md-3.col-sm-6.col-xs-6.item-portfolio
				a(href="project-single-youtube.html")
					.item-wrap.dh-container
						img(src='img/portfolio/3.jpg', alt='img09')
						.content.dh-overlay
							.tizer-circle
								i.fa.fa-youtube
							.content-wrap
								.content-va
									h2 Kanter
									p Youtube project
			.col-md-3.col-sm-6.col-xs-6.item-portfolio
				a(href="project-single-vimeo.html")
					.item-wrap.dh-container
						img(src='img/portfolio/4.jpg', alt='img09')
						.content.dh-overlay
							.tizer-circle
								i.fa.fa-vimeo
							.content-wrap
								.content-va
									h2 Reximost
									p Vimeo project