//Next project
#image-modal.modal-box.mfp-hide
	img(src='img/work-4.jpg', class='img-responsive', alt='work')
	.modal-box-content
		h2 Project 
			span title
		p
			| Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		hr
		h3 Detalis
		ul.list-project
			li
				b Client: 
				| Templatemonster
			li
				b Date: 
				| 23th, April, 2017
			li
				b Live: 
				a(href="#") View project
					i(class="fa fa-external-link" aria-hidden="true")
		hr

		.buttons-section.center
			a(href="project-single.html",class='btn accent-br-btn large-btn') See project
	button.mfp-close(title='Close (Esc)', type='button') ×

//Next project
#image-modal-1.modal-box.mfp-hide
	.slider-wrap.gallery-slide
		.slider-portfolio
			.slide
				img(src='img/work-1.jpg', class='img-responsive', alt='work')
			.slide
				img(src='img/work-2.jpg', class='img-responsive', alt='work')
			.slide
				img(src='img/work-3.jpg', class='img-responsive', alt='work')
			.slide
				img(src='img/work-3.jpg', class='img-responsive', alt='work')
		// Strat Control carousel
		#control-portfolio-slider.prev-next-block-rotate.opacity-control
			.wrap-prev
				.prev
					i(class="fa fa-angle-left" aria-hidden="true")
			.wrap-next
				.next
					i(class="fa fa-angle-right" aria-hidden="true")
		//Control sliders
		.dots-control-carousel#dots-control-portfolio-slider
	
	.modal-box-content
		h2 Project 
			span gallery
		p
			| Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		hr
		h3 Detalis
		ul.list-project
			li
				b Client: 
				| Templatemonster
			li
				b Date: 
				| 23th, April, 2017
			li
				b Live: 
				a(href="#") View project
					i(class="fa fa-external-link" aria-hidden="true")
		hr

		.buttons-section.center
			a(href="project-single-gallery.html",class='btn accent-br-btn large-btn') See project
	button.mfp-close(title='Close (Esc)', type='button') ×

//Next project
#image-modal-2.modal-box.mfp-hide
	.video-iframe
		iframe(height="338" src="https://www.youtube.com/embed/lm4OJxGQm_E" allowfullscreen)
	.modal-box-content
		h2 Project 
			span Youtube
		p
			| Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		hr
		h3 Detalis
		ul.list-project
			li
				b Client: 
				| Templatemonster
			li
				b Date: 
				| 23th, April, 2017
			li
				b Live: 
				a(href="#") View project
					i(class="fa fa-external-link" aria-hidden="true")
		hr
		.buttons-section.center
			a(href="project-single-youtube.html",class='btn accent-br-btn large-btn') See project
	button.mfp-close(title='Close (Esc)', type='button') ×

//Next project
#image-modal-3.modal-box.mfp-hide
	.video-iframe
		iframe(src="https://player.vimeo.com/video/152614354?color=1c58ed&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0" height="338" allowfullscreen="")
	.modal-box-content
		h2 Project 
			span Vimeo
		p
			| Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		hr
		h3 Detalis
		ul.list-project
			li
				b Client: 
				| Templatemonster
			li
				b Date: 
				| 23th, April, 2017
			li
				b Live: 
				a(href="#") View project
					i(class="fa fa-external-link" aria-hidden="true")
		hr
		.buttons-section.center
			a(href="project-single-vimeo.html",class='btn accent-br-btn large-btn') See project
	button.mfp-close(title='Close (Esc)', type='button') x

//End portfolio