.portfolio.portfolio-items
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-3
		a(href="#image-modal" target="_blank" title="" class="image-modal" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/1.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-picture-o 
					.content-wrap
						.content-va
							h2 Image
							p Claritas est etiam processus dynamicus. 				
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-3
		a(href="#image-modal-1" target="_blank" title="" class="image-modal-gallery" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/2.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-indent
					.content-wrap
						.content-va
							h2 Gallery images
							p Claritas est etiam processus dynamicus. 				
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-2
		a(href="#image-modal-2" target="_blank" title="" class="image-modal" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/3.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-youtube-play
					.content-wrap
						.content-va
							h2 YouTube video
							p Claritas est etiam processus dynamicus. 				
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-4
		a(href="#image-modal-3" target="_blank" title="" class="image-modal" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/4.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-vimeo
					.content-wrap
						.content-va
							h2 Vimeo video
							p Claritas est etiam processus dynamicus. 				
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-1
		a(href="#image-modal" target="_blank" title="" class="image-modal" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/5.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-picture-o 
					.content-wrap
						.content-va
							h2 Image
							p Claritas est etiam processus dynamicus. 				
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-4
		a(href="#image-modal-1" target="_blank" title="" class="image-modal-gallery" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/6.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-indent
					.content-wrap
						.content-va
							h2 Gallery images
							p Claritas est etiam processus dynamicus. 				
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-2
		a(href="#image-modal-2" target="_blank" title="" class="image-modal" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/7.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-youtube-play
					.content-wrap
						.content-va
							h2 YouTube video
							p Claritas est etiam processus dynamicus. 				
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-5
		a(href="#image-modal-3" target="_blank" title="" class="image-modal" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/8.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-vimeo
					.content-wrap
						.content-va
							h2 Vimeo video
							p Claritas est etiam processus dynamicus.
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-3
		a(href="#image-modal" target="_blank" title="" class="image-modal" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/9.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-picture-o 
					.content-wrap
						.content-va
							h2 Image
							p Claritas est etiam processus dynamicus. 				
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-3
		a(href="#image-modal-1" target="_blank" title="" class="image-modal-gallery" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/10.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-indent
					.content-wrap
						.content-va
							h2 Gallery images
							p Claritas est etiam processus dynamicus. 				
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-2
		a(href="#image-modal-2" target="_blank" title="" class="image-modal" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/11.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-youtube-play
					.content-wrap
						.content-va
							h2 YouTube video
							p Claritas est etiam processus dynamicus. 				
	// Start Block item
	.col-md-6.col-lg-3.col-sm-6.col-xs-12.item-portfolio.portfolio-item.category-4
		a(href="#image-modal-3" target="_blank" title="" class="image-modal" data-toggle="modal" data-target=".modal1")
			.item-wrap.dh-container
				img(src='img/portfolio/12.jpg', alt='img09')
				.content.dh-overlay
					.tizer-circle
						i.fa.fa-vimeo
					.content-wrap
						.content-va
							h2 Vimeo video
							p Claritas est etiam processus dynamicus.