// Start slider section
.slider#top
	#preloader
			#status
	.full-slider.intro
		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn12.jpg')
			.container-slide.vertical-align.center
				.container
					.row
						.col-md-12
							.heading-title-big
								| kan
								span ter
						.col-md-8.col-md-push-2
							span.after
							.slide-title
								| WE ARE 
								span
									| DIGITAL AGENCY
							.description-slide
								| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
							.buttons-section
								a(href="#",class='btn white-btn large-btn') Get started
								a(href="#",class='btn dark-btn large-btn') Contact us

		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn8.jpg')
			.container-slide.vertical-align.center
				.container
					.row
						.col-md-12
							a(class='icon-play anim-shadow',href="https://www.youtube.com/watch?v=lm4OJxGQm_E")
								i.pe-7s-play
						.col-md-8.col-md-push-2
							//- span.after
							.slide-title
								| WE ARE 
								span
									| DIGITAL AGENCY
							.description-slide
								| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
							.buttons-section
								a(href="#",class='btn white-btn large-btn') Get started
								a(href="#",class='btn dark-btn large-btn') Contact us
						
		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn23.jpg')
			.container-slide.vertical-align.center
				.container
					.row
						.col-md-12
							.heading-title-big
								| Innovation
							span.after
						.col-md-8.col-md-push-2
							.description-slide
								| Say hello to the smartest and most flexible bootstrap template. Kanter is an powerful template that can build any type of websites, and quite possibly the only one you will ever need.


		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn6.jpg')
			.container-slide.vertical-align.left.small-text
				.container
					.row
						.col-md-5
							.heading-title-big
								| Pixel 
								span perfect
							.description-slide
								| Kanter will look beautiful on any device. Kanter easily and efficiently scales your project with one code base. Serve high-resolution images to devices with retina displays. We have a dedicated support team ready to answer your questions. Feel free to contact us to provide some feedback on our templates or give us suggestions for new themes
							.buttons-section
								a(href="#",class='btn dark-btn large-btn') Get started
						.col-md-6.col-md-offset-1
							.video-iframe
								iframe(src="https://player.vimeo.com/video/152614354?color=1c58ed&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0" height="338" allowfullscreen="" class="embed-responsive-item")

		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn30.jpg')
			.container-slide.vertical-align.center.small-text
				.container
					.row
						.col-md-12
							.img-slide
								img(src="img/construction.png", alt="alt")
							.heading-title-big
								| Kanter agency
							.buttons-section
								a(href="#",class='btn dark-btn large-btn') Who we are
		
	//Contol slider
	.dots-control-carousel#dots-control-full-slider
	// Strat Control carousel
	#control-full-slider.prev-next-block-rotate.opacity-control
		.wrap-prev
			.prev
				i(class="fa fa-angle-left" aria-hidden="true")
		.wrap-next
			.next
				i(class="fa fa-angle-right" aria-hidden="true")
	a(href="#into", class='smooth-scroll btn-down')
		i(class="fa fa-angle-down" aria-hidden="true")
// End slider section