// Start slider section
.slider#top
	#preloader
			#status
	.full-slider.intro
		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bg3.jpg')
			.container-slide.vertical-align.center
				.container
					.row
						.col-md-12
							.heading-title-big
								| Pixel 
								span perfect

							.description-slide
								| We Used Our Best Ideas
							.buttons-section
								a(href="#",class='btn dark-btn large-btn') Contact us
		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn6.jpg')
			.container-slide.vertical-align.center
				.container
					.row
						.col-md-12
							.heading-title-big
								| Innovation
							span.after
						.col-md-8.col-md-push-2
							.description-slide
								| Say hello to the smartest and most flexible bootstrap template. Kanter is an powerful template that can build any type of websites, and quite possibly the only one you will ever need.
		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn21.jpg')
			.container-slide.vertical-align.center
				.container
					.row
						.col-md-12
							.slide-title.tlt
								//Textline
								ul.texts.hidden
									li(data-out-effect='fadeOut', data-out-shuffle='true') I'm Ui/UX Designer
									li(data-in-effect='fadeIn') Front-End & WordPress Developer
									li(data-in-effect='fadeIn') I Can Create Awesome Stuff
									li(data-in-effect='fadeIn') For Your Business
									li(data-in-effect='fadeIn') Let's work together
							.heading-title-big
								| Valerii Kanter
							.buttons-section
								a(href="#",class='btn dark-btn large-btn') Say hello
						
	//Contol slider
	.dots-control-carousel#dots-control-full-slider
	// Strat Control carousel
	#control-full-slider.prev-next-block-rotate.opacity-control
		.wrap-prev
			.prev
				i(class="fa fa-angle-left" aria-hidden="true")
		.wrap-next
			.next
				i(class="fa fa-angle-right" aria-hidden="true")
	a(href="#into", class='smooth-scroll btn-down')
		i(class="fa fa-angle-down" aria-hidden="true")
// End slider section