// Start slider section
.slider#top
	#preloader
			#status
	.full-slider.intro

		// Start slide
		.slide.bg-mask.bg-mask-dark.background-image.full-vh(data-image='img/bgn28.jpg')
			.container-slide.vertical-align.left.small-text
				.container
					.row
						.col-md-5
							.heading-title-big
								| Pixel
								br
								| perfect
							.description-slide
								| Kanter will look beautiful on any device. Kanter easily and efficiently scales your project with one code base. Serve high-resolution images to devices with retina displays. We have a dedicated support team ready to answer your questions.
							.buttons-section
								a(href="#",class='btn white-tr-btn large-btn') Get started
						.col-md-6.col-md-offset-1
							img(src="img/macbook.png", class="img-responsive", alt="png")

		// Start slide
		.slide.bg-mask.bg-mask-dark.background-image.full-vh(data-image='img/bgn13.jpg')
			.container-slide.vertical-align.left.small-text
				.container
					.row
						.col-md-6
							img(src="img/macbook.png", class="img-responsive", alt="png")
						.col-md-5.col-md-offset-1
							.heading-title-big
								| Pixel
								br
								| perfect
							.description-slide
								| Kanter will look beautiful on any device. Kanter easily and efficiently scales your project with one code base. Serve high-resolution images to devices with retina displays. We have a dedicated support team ready to answer your questions.
							.buttons-section
								a(href="#",class='btn white-tr-btn large-btn') Get started
						
						
	//Contol slider
	.dots-control-carousel#dots-control-full-slider
	// Strat Control carousel
	#control-full-slider.prev-next-block-rotate.opacity-control
		.wrap-prev
			.prev
				i(class="fa fa-angle-left" aria-hidden="true")
		.wrap-next
			.next
				i(class="fa fa-angle-right" aria-hidden="true")
	a(href="#into", class='smooth-scroll btn-down')
		i(class="fa fa-angle-down" aria-hidden="true")
// End slider section