// Start slider section
.slider#top
	#preloader
			#status
	.full-slider.intro
		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn27.jpg')
			.container-slide.vertical-align.left.head-desc
				.container
					.row
						.col-md-12
							.slide-title.tlt
								//Textline
								ul.texts.hidden
									li(data-out-effect='fadeOut', data-out-shuffle='true') We Are Creative
									li(data-in-effect='fadeIn') We Are DeveloperS
									li(data-in-effect='fadeIn') We Are Create Awesome Stuff
									li(data-in-effect='fadeIn') We Are Designers
									li(data-in-effect='fadeIn') Let's work together
							.heading-title-big
								| Pixel 
								span perfect

						.col-md-8
							.description-slide
								| Here at KANTER studio, we create websites and mobile apps design.
								br
								| We pride ourselves in doing our job well and fully satisfying our clients.
								br
								| Want to make your website look incredible and awesome? Then you are welcome.
							.buttons-section
								a(href="#",class='btn dark-btn large-btn') Get started

	//Contol slider
	.dots-control-carousel#dots-control-full-slider
	// Strat Control carousel
	#control-full-slider.prev-next-block-rotate.opacity-control
		.wrap-prev
			.prev
				i(class="fa fa-angle-left" aria-hidden="true")
		.wrap-next
			.next
				i(class="fa fa-angle-right" aria-hidden="true")
	a(href="#into", class='smooth-scroll btn-down')
		i(class="fa fa-angle-down" aria-hidden="true")
// End slider section