// Start slider section
.slider#top
	#preloader
			#status
	.full-slider.intro

		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn1.jpg')
			.container-slide.vertical-align.center
				.container
					.row
						.col-md-12
							.heading-title-big| KANTER Agency
							span.after
						.col-md-8.col-md-push-2
							.description-slide
								| Say hello to the smartest and most flexible bootstrap template. Kanter is an powerful template that can build any type of websites, and quite possibly the only one you will ever need.
		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn3.jpg')
			.container-slide.vertical-align.left
				.container
					.row
						.col-md-6
							.heading-title-big
								| Proj
								span ect
							.description-slide
								| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
							.buttons-section
								a(href="#",class='btn white-btn large-btn') Get started
								a(href="#",class='btn dark-btn large-btn') Contact us
						.col-md-6
							img(src="img/macbook.png", class="img-responsive", alt="png")
										
		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bg3.jpg')
			.container-slide.vertical-align.right
				.container
					.row
						.col-md-6
							img(src="img/macbook.png", class="img-responsive", alt="png")
						.col-md-6
							.heading-title-big
								| Proj
								span ect
							.description-slide
								| Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
							.buttons-section
								a(href="#",class='btn white-btn large-btn') Get started
								a(href="#",class='btn dark-btn large-btn') Contact us
						
	//Contol slider
	.dots-control-carousel#dots-control-full-slider
	// Strat Control carousel
	#control-full-slider.prev-next-block-rotate.opacity-control
		.wrap-prev
			.prev
				i(class="fa fa-angle-left" aria-hidden="true")
		.wrap-next
			.next
				i(class="fa fa-angle-right" aria-hidden="true")
	a(href="#into", class='smooth-scroll btn-down')
		i(class="fa fa-angle-down" aria-hidden="true")
// End slider section