// Start slider section
.slider#top
	#preloader
			#status
	.full-slider.intro
		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn21.jpg')
			.container-slide.vertical-align.center
				.container
					.row
						.col-md-12
							.slide-title.tlt
								//Textline
								ul.texts.hidden
									li(data-out-effect='fadeOut', data-out-shuffle='true') I'm Ui/UX Designer
									li(data-in-effect='fadeIn') Front-End & WordPress Developer
									li(data-in-effect='fadeIn') I Can Create Awesome Stuff
									li(data-in-effect='fadeIn') For Your Business
									li(data-in-effect='fadeIn') Let's work together

							.heading-title-big
								| Valerii 
								span Kanter
							.buttons-section
								a(href="#",class='btn dark-btn large-btn') Say hello