// Start slider section
.slider#top
	#preloader
			#status
	.full-slider.intro
		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/personal.jpg')
			.container-slide.vertical-align.small-text.center
				.container
					.row
						.col-md-12
							.heading-title-big.letter-s-8 I'm photographer
							.description-slide I will do awesome photos for you !
	//Contol slider
	.dots-control-carousel#dots-control-full-slider
	// Strat Control carousel
	#control-full-slider.prev-next-block-rotate.opacity-control
		.wrap-prev
			.prev
				i(class="fa fa-angle-left" aria-hidden="true")
		.wrap-next
			.next
				i(class="fa fa-angle-right" aria-hidden="true")
	a(href="#into", class='smooth-scroll btn-down')
		i(class="fa fa-angle-down" aria-hidden="true")
// End slider section