// Start slider section
.slider#top
	#preloader
			#status
	.full-slider.intro
	
		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn22.jpg')
			.container-slide.vertical-align.center.head-desc
				.container
					.row
						.col-md-12
							.heading-title-big
								| Polka 
								span Dossier
							.description-slide
								| We Are a Product company mainly focused in Blockchain , AI and Data Analytics.
							.buttons-section
								a(href="#",class='btn dark-btn large-btn') Get started

			#particles-js.canvas-background
						
	//Contol slider
	.dots-control-carousel#dots-control-full-slider
	// Strat Control carousel
	#control-full-slider.prev-next-block-rotate.opacity-control
		.wrap-prev
			.prev
				i(class="fa fa-angle-left" aria-hidden="true")
		.wrap-next
			.next
				i(class="fa fa-angle-right" aria-hidden="true")
	a(href="#into", class='smooth-scroll btn-down')
		i(class="fa fa-angle-down" aria-hidden="true")
// End slider section