// Start slider section
.slider#top
	//- #preloader
	//- 	#status
	#bgndVideo.player(data-property="{videoURL:'https://youtu.be/kvJxX7fk0gI',containment:'.full-slider', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}")
	.full-slider.background-image.intro(data-image='img/bgn12.jpg')
		// Start slide
		.slide.bg-mask-small.full-vh
			.container-slide.vertical-align.center
				.container
					.row
						.col-md-12

							h1.heading-title-big
								| Background video
							.description-slide
								| Kanter is a modern and simple template. 
								br
								|The main purpose for the template is to showcase your services
							.buttons-section
								a(class='icon-play anim-shadow', id='icon-play',href="https://www.youtube.com/watch?v=kvJxX7fk0gI")
									i.pe-7s-play

		