//Start into slider
.into-slider#into.background-image(data-image='img/bgn1.jpg')
	.container-fluid
		.row
			.col-md-3
				.item
					i.pe-7s-phone
					h4| Fully responsive 
					p| Kanter is fully responsive, you can view it also in the mobile/tablets devices and it looks very in more devices.
			.col-md-3
				.item
					i.pe-7s-like
					h4| With love 
					p| Kanter developed with love and attention to detail, each block, and each button did not remain without attention
			.col-md-3
				.item
					i.pe-7s-browser
					h4| One&Multi page
					p| Made for developers, agencies, photographers, corporations, web studios, designers, bloggers and creative people.
			.col-md-3
				.item
					i.pe-7s-monitor
					h4| Retina Ready
					p| Kanter is retina ready, you can view it in the large displays and it will be clear display on large displays.
//End into slider