doctype html
html(lang='en', class="no-js")
	head
		meta(charset='utf-8')

		title KANTER - Contact - 4 
		meta(name='description', content='')

		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(property='og:image', content='path/to/image.jpg')
		//- Head
		include html/_head.pug

	body
		
		//-Header
		include html/_header.pug
		
		// Start Content section
		section.display-page.unity.bg-mask.background-image(data-image='img/bgn11.jpg')#top
			.container
				.row
					.col-md-12
						.content
							// heading title
							h1| Contact - 4
							// horizontal line
							span.horizontal-line
							span
							// description slider
							.description
								p
									| We like to create a good and high-quality products. 
									br 
									| We love clients who appreciate the value of our work, and who are willing to invest in themselves.
		
				.row
					.col-md-6
						//Section our location
						.map-section.contact-2
							#map-dark.map-content(data-zoom="13" data-height="400" data-address="Konotop" data-address-details="Our location")
					.col-md-6
						form.contact-form-sub.contact-form-white.form-transperent
							input(type="text", name='Name' placeholder='Name')
							input(type="text", name='Email' placeholder='Email *')
							input(type="text", name='Phone' placeholder='Phone')
							input(type="text", name='Subject' placeholder='Subject')
							textarea(name="Message", placeholder='Message *',cols="3", rows="5")
							p.success-msg.hidden.notify Your message has been send
							p.error-msg.hidden.notify Error sending message
							input(class='btn',type="submit", value='Send message')
		//- HTML5SHIFT
		include components/_html5shiv.pug
		//- Footer
		include html/_footer.pug
		//- Scripts
		include html/_scripts.pug

