doctype html
html(lang='en', class="no-js")
	head
		meta(charset='utf-8')

		title KANTER - Contact
		meta(name='description', content='')

		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(property='og:image', content='path/to/image.jpg')
		//- Head
		include html/_head.pug

	body
		
		//-Header
		include html/_header.pug
		
		// Start Content section
		section.display-page.img-parallax.bg-mask.background-image(data-image='img/bg1.jpg')#top
			.container
				.row
					.col-md-12
						.content
							// heading title
							h1| Contact - 3
							// horizontal line
							span.horizontal-line
							span
							// description slider
							.description
								p
									| We like to create a good and high-quality products. 
									br 
									| We love clients who appreciate the value of our work, and who are willing to invest in themselves.
		
		//Section our location
		.map-section
			#map.map-content(data-zoom="13" data-height="400" data-address="Konotop" data-address-details="Our location")

		//Section contact with us
		.section.section-contact-with-us.bg-dark-section.background-image(data-image='img/bg3.jpg')
			.container
				.row
					.col-md-5.col-md-pull-1
						.contact-wrap
							p.phone
								i(class="fa fa-phone" aria-hidden="true")
								| +58(667) 543 54 55
							p.street
								| 359 CENTRAL MIRA STREET
								br
								| VATUTINA 79 / 99 UKRAINE
							a(href="malito:" class="email")
								i(class="fa fa-envelope-o" aria-hidden="true")
								| Support@DOMIAN.COM
							a(href="malito:" class="email")
								i(class="fa fa-envelope-o" aria-hidden="true")
								| Support@DOMIAN.COM
							//Start social links
							ul.social-links
								li
									a(href='#')
										i.fa.fa-facebook
								li
									a(href='#')
										i.fa.fa-twitter
								li
									a(href='#')
										i.fa.fa-skype
							//End social links
					.col-md-6
						.contact-form
							form.contact-form-sub.contact-form-bg
								// Input name
								.col-md-6
									input.form-control(type='text', required='', name='Name', placeholder=' Your name')
								// Input email
								.col-md-6
									input.form-control(type='email', required='', name='Email', placeholder='Your email')
								// textarea
								.col-md-12
									textarea.form-control(rows='9', required='', name='Message', placeholder='Your message')
									p.success-msg.hidden.notify Your message has been send
									p.error-msg.hidden.notify Error sending message
									input.btn.btn-blue.btn-form(type='submit', value='Send')
		//- HTML5SHIFT
		include components/_html5shiv.pug
		//- Footer
		include html/_footer.pug
		//- Scripts
		include html/_scripts.pug

