doctype html
html(lang='en', class="no-js")
	head
		meta(charset='utf-8')

		title KANTER - Creative Digital Agency Template
		meta(name='description', content='')

		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(property='og:image', content='path/to/image.jpg')
		//- Head
		include html/_head.pug

	body.sidenav
		
		.content-wrap-lfm
			//-Header
			header.top-nav.header-type-1.background-image(data-image='img/bg1blurm.jpg')
				include html/_header-left-nav.pug
			
			.container-full
				//- #preloader
				//- 	#status
				.masonry-portfolio.background-image(data-image='img/bg1blurm.jpg')
					
					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-1.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-1.jpg', alt='image')
	
					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-2.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-2.jpg', alt='image')
	
					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-3.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-3.jpg', alt='image')
	
					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-4.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-4.jpg', alt='image')
	
					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-5.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-5.jpg', alt='image')
	
					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-6.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-6.jpg', alt='image')

					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-7.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-7.jpg', alt='image')
	
					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-8.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-8.jpg', alt='image')
	
					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-9.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-9.jpg', alt='image')
	
					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-10.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-10.jpg', alt='image')
	
					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-11.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-11.jpg', alt='image')
	
					// Start Block item
					.col-md-4.col-sm-6.col-xs-12.masonry-item-pr
						a(href="img/portfolio/f-12.jpg" class="wrap-ms-pr link-portfolio dh-container")
							.bg-mask-pr.dh-overlay
								.icon
									i.pe-7s-search
							img(src='img/portfolio/f-12.jpg', alt='image')

			//- HTML5SHIFT
			include components/_html5shiv.pug
			//- Footer
			include html/_footer-minimal.pug
		//- Scripts
		include html/_scripts.pug
