doctype html
html(lang='en', class="no-js")
	head
		meta(charset='utf-8')

		title KANTER - Creative Digital Agency Template
		meta(name='description', content='')

		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(property='og:image', content='path/to/image.jpg')
		//- Head
		include html/_head.pug

	body.sidenav
		
		.content-wrap-lfm
			//-Header
			header.top-nav.header-type-1.background-image(data-image='img/bg1blur.jpg')
				include html/_header-left-nav.pug
			//- Slider page
			include head/sliders/_slide-center.pug
			//- Content page
			include sections/_into-slider.pug
			//- Content page
			include html/_content.pug
			//- HTML5SHIFT
			include components/_html5shiv.pug
			//- Footer
			include html/_footer.pug
		//- Scripts
		include html/_scripts.pug
