doctype html
html(lang='en', class="no-js")
	head
		meta(charset='utf-8')

		title KANTER - Prices 3 dark
		meta(name='description', content='')

		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(property='og:image', content='path/to/image.jpg')
		//- Head
		include html/_head.pug

	body
		
		//-Header
		include html/_header.pug
		
		// Start Content section
		section.display-page.bg-dark-section.unity.background-image(data-image='img/bg2.jpg')#top
			.container
				.row
					.col-md-12
						.content
							// heading title
							h1| Our 
								span prices 2 dark
							// horizontal line
							span.horizontal-line
							span
							// description slider
							.description
								p
									| We like to create a good and high-quality products. 
									br 
									| We love clients who appreciate the value of our work, and who are willing to invest in themselves.		
				.row
					.col-md-5
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000
					.col-md-5.col-md-push-2
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000
						.item-price-two.dark-price
							h2 Web development
							.price
								span from
								p $1000

		//Section trigger
		section.section-trigger.bg-white-section.white-80.background-image(data-image='img/bg3.jpg')
			.container
				.row
					.col-md-12
						.heading-title.small-heading.center
							h2| Want to discuss your 
								span| new project ?
						.buttons-section.center
							a(href="#",class='btn accent-btn large-btn') Start project
				
		//- HTML5SHIFT
		include components/_html5shiv.pug
		//- Footer
		include html/_footer.pug
		//- Scripts
		include html/_scripts.pug

